In [ ]:
## intiate the sql agent  

from app.services.sql_agent_instance import sql_agent

sql_agent.setup_database_connection("")  # Example connection string

Database connection successful!
Database connection successful!
creating _create_query_tool
Initialized tool: sql_db_query
Initialized tool: sql_db_schema
Initialized tool: sql_db_list_tables
Initialized tool: sql_db_query_checker
Intializing Workflow....

In [6]:
sql_agent.execute_query("who has the highest salary in the employee table")  # Example query

['departments', 'employees', 'salaries']

CREATE TABLE departments (
	id BIGINT GENERATED ALWAYS AS IDENTITY (INCREMENT BY 1 START WITH 1 MINVALUE 1 MAXVALUE 9223372036854775807 CACHE 1 NO CYCLE),
	name TEXT NOT NULL,
	created_at TIMESTAMP WITH TIME ZONE DEFAULT now(),
	CONSTRAINT departments_pkey PRIMARY KEY (id)
)

/*
3 rows from departments table:
id	name	created_at
1	Engineering	2025-09-22 13:16:37.299899+00:00
2	Product	2025-09-22 13:16:37.299899+00:00
3	Sales	2025-09-22 13:16:37.299899+00:00
*/
CREATE TABLE employees (
	id BIGINT GENERATED ALWAYS AS IDENTITY (INCREMENT BY 1 START WITH 1 MINVALUE 1 MAXVALUE 9223372036854775807 CACHE 1 NO CYCLE),
	department_id BIGINT NOT NULL,
	first_name TEXT NOT NULL,
	last_name TEXT NOT NULL,
	email TEXT NOT NULL,
	hired_at TIMESTAMP WITH TIME ZONE DEFAULT now(),
	manager_id BIGINT,
	created_at TIMESTAMP WITH TIME ZONE DEFAULT now(),
	CONSTRAINT employees_pkey PRIMARY KEY (id),
	CONSTRAINT employees_department_id_fkey FOREIGN KEY(department_id) REFERENCES departments (id) ON DELETE RESTRICT,
	CONSTRAINT employees_manager_id_fkey FOREIGN KEY(manager_id) REFERENCES employees (id) ON DELETE SET NULL,
	CONSTRAINT employees_email_key UNIQUE NULLS DISTINCT (email)
)

/*
3 rows from employees table:
id	department_id	first_name	last_name	email	hired_at	manager_id	created_at
1	1	Ava	Smith	ava.smith@example.com	2020-01-15 09:00:00+00:00	None	2025-09-22 13:16:37.299899+00:00
2	1	Liam	Johnson	liam.johnson@example.com	2020-03-02 09:00:00+00:00	1	2025-09-22 13:16:37.299899+00:00
3	1	Olivia	Williams	olivia.williams@example.com	2020-05-20 09:00:00+00:00	1	2025-09-22 13:16:37.299899+00:00
*/
CREATE TABLE salaries (
	id BIGINT GENERATED ALWAYS AS IDENTITY (INCREMENT BY 1 START WITH 1 MINVALUE 1 MAXVALUE 9223372036854775807 CACHE 1 NO CYCLE),
	employee_id BIGINT NOT NULL,
	amount NUMERIC(10, 2) NOT NULL,
	from_date TIMESTAMP WITH TIME ZONE NOT NULL,
	to_date TIMESTAMP WITH TIME ZONE,
	created_at TIMESTAMP WITH TIME ZONE DEFAULT now(),
	CONSTRAINT salaries_pkey PRIMARY KEY (id),
	CONSTRAINT salaries_employee_id_fkey FOREIGN KEY(employee_id) REFERENCES employees (id) ON DELETE CASCADE
)

/*
3 rows from salaries table:
id	employee_id	amount	from_date	to_date	created_at
1	1	83224.21	2020-01-15 09:00:00+00:00	None	2025-09-22 13:16:37.299899+00:00
2	2	64804.26	2020-03-02 09:00:00+00:00	None	2025-09-22 13:16:37.299899+00:00
3	3	78964.25	2020-05-20 09:00:00+00:00	None	2025-09-22 13:16:37.299899+00:00
*/
State check - Tables: False, Schema: False, Query: False, Check: False, Execute: False, Response: False
Creating a sql agent chain
Agent decision: list_table_tools
üîÅ Entering router...
‚û°Ô∏è Next tool: list_table_tools
Tables found: departments, employees, salaries
üîÅ Entering router...
‚û°Ô∏è Next tool: sql_agent
State check - Tables: True, Schema: False, Query: False, Check: False, Execute: False, Response: False
Creating a sql agent chain
Agent decision: get_schema
üîÅ Entering router...
‚û°Ô∏è Next tool: get_schema
üìò Getting schema...
üìò Schema collected for tables: ['departments', 'employees', 'salaries']
üîÅ Entering router...
‚û°Ô∏è Next tool: sql_agent
State check - Tables: True, Schema: True, Query: False, Check: False, Execute: False, Response: False
Creating a sql agent chain
Agent decision: generate_query
üîÅ Entering router...
‚û°Ô∏è Next tool: generate_query
Generating query for: who has the highest salary in the employee table
‚úÖ Query generated: SELECT e.first_name, e.last_name FROM employees e JOIN salaries s ON e.id = s.employee_id ORDER BY s.amount DESC LIMIT 1
üîÅ Entering router...
‚û°Ô∏è Next tool: sql_agent
State check - Tables: True, Schema: True, Query: True, Check: False, Execute: False, Response: False
Creating a sql agent chain
Agent decision: check_query
üîÅ Entering router...
‚û°Ô∏è Next tool: check_query
Checking query: SELECT e.first_name, e.last_name FROM employees e JOIN salaries s ON e.id = s.employee_id ORDER BY s.amount DESC LIMIT 1
Query checked: sql
SELECT e.first_name, e.last_name
FROM employees e
JOIN salaries s ON e.id = s.employee_id
ORDER BY s.amount DESC
LIMIT 1;

üîÅ Entering router...
‚û°Ô∏è Next tool: sql_agent
State check - Tables: True, Schema: True, Query: True, Check: True, Execute: False, Response: False
Creating a sql agent chain
Agent decision: execute_query
üîÅ Entering router...
‚û°Ô∏è Next tool: execute_query
Executing query: sql
SELECT e.first_name, e.last_name
FROM employees e
JOIN salaries s ON e.id = s.employee_id
ORDER BY s.amount DESC
LIMIT 1;

Query results: Error: (psycopg2.errors.SyntaxError) syntax error at or near "sql"
LINE 1: sql
        ^

[SQL: sql
SELECT e.first_name, e.last_name
FROM employees e
JOIN salaries s ON e.id = s.employee_id
ORDER BY s.amount DESC
LIMIT 1;
]
(Background on this error at: https://sqlalche.me/e/20/f405)
üîÅ Entering router...
‚û°Ô∏è Next tool: sql_agent
State check - Tables: True, Schema: True, Query: True, Check: True, Execute: True, Response: False
Creating a sql agent chain
Agent decision: response
üîÅ Entering router...
‚û°Ô∏è Next tool: response
Creating final response...
Response created: I'm sorry, but I encountered an error while trying to retrieve that information.
üîÅ Entering router...
‚û°Ô∏è Next tool: sql_agent

"I'm sorry, but I encountered an error while trying to retrieve that information."